<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749213753046-goq3nvteophbnba62gtsoeca4gsbfmnq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749213753046-goq3nvteophbnba62gtsoeca4gsbfmnq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749213753046-2avk43cpkoi86h496v0b8vgus3tn33he.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATZftO3SXnK0-sWqq3-5Ew5eHcUvGAhL8</string>
	<key>GCM_SENDER_ID</key>
	<string>749213753046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chips.tabukapp</string>
	<key>PROJECT_ID</key>
	<string>tabuk-ce16e</string>
	<key>STORAGE_BUCKET</key>
	<string>tabuk-ce16e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749213753046:ios:4007ae7fae5f2c8563b377</string>
</dict>
</plist>